/* Calander view */

body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #ccc;
  stroke: #fff;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

.BuGn .q0-9{fill:rgb(247,252,253)} 
.BuGn .q1-9{fill:rgb(229,245,249)} 
.BuGn .q2-9{fill:rgb(204,236,230)} 
.BuGn .q3-9{fill:rgb(153,216,201)} 
.BuGn .q4-9{fill:rgb(102,194,164)} 
.BuGn .q5-9{fill:rgb(65,174,118)} 
.BuGn .q6-9{fill:rgb(35,139,69)} 
.BuGn .q7-9{fill:rgb(0,109,44)} 
.BuGn .q8-9{fill:rgb(0,68,27)}

.PuRd .q0-9{fill:rgb(247,244,249)} 
.PuRd .q1-9{fill:rgb(231,225,239)} 
.PuRd .q2-9{fill:rgb(212,185,218)} 
.PuRd .q3-9{fill:rgb(201,148,199)} 
.PuRd .q4-9{fill:rgb(223,101,176)} 
.PuRd .q5-9{fill:rgb(231,41,138)} 
.PuRd .q6-9{fill:rgb(206,18,86)} 
.PuRd .q7-9{fill:rgb(152,0,67)} 
.PuRd .q8-9{fill:rgb(103,0,31)}

.Purples .q0-9{fill:rgb(252,251,253)} 
.Purples .q1-9{fill:rgb(239,237,245)} 
.Purples .q2-9{fill:rgb(218,218,235)} 
.Purples .q3-9{fill:rgb(188,189,220)} 
.Purples .q4-9{fill:rgb(158,154,200)} 
.Purples .q5-9{fill:rgb(128,125,186)} 
.Purples .q6-9{fill:rgb(106,81,163)} 
.Purples .q7-9{fill:rgb(84,39,143)} 
.Purples .q8-9{fill:rgb(63,0,125)}

.Blues .q0-9{fill:rgb(247,251,255)} 
.Blues .q1-9{fill:rgb(222,235,247)} 
.Blues .q2-9{fill:rgb(198,219,239)} 
.Blues .q3-9{fill:rgb(158,202,225)} 
.Blues .q4-9{fill:rgb(107,174,214)} 
.Blues .q5-9{fill:rgb(66,146,198)} 
.Blues .q6-9{fill:rgb(33,113,181)} 
.Blues .q7-9{fill:rgb(8,81,156)} 
.Blues .q8-9{fill:rgb(8,48,107)}

.GnBu .q0-9{fill:rgb(247,252,240)} 
.GnBu .q1-9{fill:rgb(224,243,219)} 
.GnBu .q2-9{fill:rgb(204,235,197)} 
.GnBu .q3-9{fill:rgb(168,221,181)} 
.GnBu .q4-9{fill:rgb(123,204,196)} 
.GnBu .q5-9{fill:rgb(78,179,211)} 
.GnBu .q6-9{fill:rgb(43,140,190)} 
.GnBu .q7-9{fill:rgb(8,104,172)} 
.GnBu .q8-9{fill:rgb(8,64,129)}


.axis path,
.axis line {
	fill: none;
	/*stroke: black;*/
	shape-rendering: crispEdges;
}

.axis text {
	font-family: helvetica;
	font-size: 12px;
}

.white { 
	fill: #F0F0F0;
	stroke: #fff;
	stroke-width: 1.75px;
}

.mapText {
	text-align: right;
	z-index: 1;
	display: block;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 36px;
	font-weight: 300;
	text-shadow: 0 1px 0 #fff;
}

.mapSubtext {
	text-align: right;
	font-family: "Helvetica Neue", Helvetica;
	font-size: 12px;
}

.mapSubtext2 {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 12px;
}

.menu {
	text-align: right;
}

/* infoBox */

#infoBox {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 1em;
  display: none;
}

#corner_item {
	position: fixed;
	top: 2em;
	right: 2em;
/*	position: absolute;
	top: 55px;
	left: 15PX;
	width: 350px;*/
}


rect.bordered {
    stroke: #E6E6E6;
    stroke-width:1px;   
}

text.mono {
    font-size: 9pt;
    font-family: "Helvetica Neue", Helvetica;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

#corner_item2 {
    position: fixed;
    bottom: 2em;
    left: 2em;
    text-align: left;
/*  position: absolute;
    top: 55px;
    left: 15PX;
    width: 350px;*/
}

#infoBox {
  position: fixed;
  font-family: "Helvetica Neue", Helvetica;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 1em;
  display: none;
}

#tooltip {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em;
    font-size: 14px;
}

#tooltip.hidden {
    opacity: 0;
}

.top_menu {
  max-width: 960px;
}

.styled-select {
   width: 200px;
}
