{% extends "layout.html" %}
{% block content %}

<div id="d3_map"></div> 	

<div id="corner_item">

	<div class="mapText"> NYC 311 Data</div>
	<p class="mapSubtext">Zip codes with the most _____ complaints</p>

    <div class="menu">
		<select id="dataSelector">
			<option value="" disabled="disabled">Change Data</option>
            <option value="noise" selected="selected">Noise</option>
            <option value="heat">Heating</option>
            <option value="graffiti">Graffiti</option>
        </select>
    </div>

	<div class="menu">
		<select id="colorSelector">
			<option value="" disabled="disabled" selected="selected">Change color</option>
            <option value="YlGn">YlGn</option>
            <option value="YlGnBu">YlGnBu</option>
            <option value="GnBu">GnBu</option>
            <option value="BuGn">BuGn</option>
            <option value="PuBuGn">PuBuGn</option>
            <option value="PuBu">PuBu</option>
            <option value="BuPu">BuPu</option>
            <option value="RdPu">RdPu</option>
            <option value="PuRd">PuRd</option>
            <option value="OrRd">OrRd</option>
            <option value="YlOrRd">YlOrRd</option>
            <option value="YlOrBr">YlOrBr</option>
            <option value="Purples">Purples</option>
            <option value="Blues">Blues</option>
            <option value="Greens">Greens</option>
            <option value="Oranges">Oranges</option>
            <option value="Reds">Reds</option>
            <option value="Greys">Greys</option>
        </select>
        <br>
    </div>

	<p class="mapSubtext">
        <a href="#test" data-reveal-id="myModal" class="radius button tiny">Time of Day Viz</a>
        <br />
        <a href="https://github.com/zunayed/noisyNYC">Github</a> 
    	<br />
    	Zunayed Morsalin
    	<br />
    	Scroll to zoom in and out
        <br />

        <div id="myModal" class="reveal-modal" class="tiny" data-reveal>
            <p id="modalHeader">Time Series Data</p>
            <div id="chart"></div>     
        </div>

	</p>
</div>
<a id="infoBox" style="display: inline;">
    On Zip: 
</a>

<div id="tooltip" class="hidden">
        <p><strong>Important Label Heading</strong></p>
        <p><span id="value">100</span>%</p>
</div>

<!-- JavaScript -->

<script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='noiseNYC.js') }}"></script>
<script src="{{ url_for('static', filename='heatNYC.js') }}"></script>
<script src="{{ url_for('static', filename='graffitiNYC.js') }}"></script>
<script src="{{ url_for('static', filename='maps.js') }}"></script>
<script src="{{ url_for('static', filename='time.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='charts.js') }}"></script> -->

{% endblock %}




