{% extends "layout.html" %}
{% block content %}

    <style type="text/css">
			
			.axis path,
			.axis line {
				fill: none;
				/*stroke: black;*/
				shape-rendering: crispEdges;
			}
			
			.axis text {
				font-family: helvetica;
				font-size: 12px;
			}
	</style>
   
    <div class="row">
      <div class="large-12 columns">
        <div class="callout panel">
          <p><strong>NYC 311 Data:</strong> Zip codes with the most complaint</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="callout panel">
        	<!-- <div id="d3_chart"></div> -->
        	<div id="d3_map"></div> 
        </div>
      </div>
    </div>

<script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<!-- JavaScript -->

<!-- <script src="{{ url_for('static', filename='charts.js') }}"></script> -->
<script src="{{ url_for('static', filename='maps.js') }}"></script>


{% endblock %}




