{% extends "layout.html" %}
{% block content %}

    <style type="text/css">
			
			.axis path,
			.axis line {
				fill: none;
				/*stroke: black;*/
				shape-rendering: crispEdges;
			}
			
			.axis text {
				font-family: helvetica;
				font-size: 12px;
			}


			.white { 
				fill: #fff;
				stroke: #fff;
				stroke-width: 1.5px;
			}

			.mapText {
				text-align: right;
				z-index: 1;
				display: block;
				font-family: "Helvetica Neue", Helvetica;
				font-size: 36px;
				font-weight: 300;
				text-shadow: 0 1px 0 #fff;
			}

			.mapSubtext {
				text-align: right;
				font-family: "Helvetica Neue", Helvetica;
				font-size: 12px;
			}

			.menu {
				text-align: right;
			}

			/* infoBox */

			#infoBox {
			  position: fixed;
			  font-family: "Helvetica Neue", Helvetica;
			  bottom: 2em;
			  right: 2em;
			  text-decoration: none;
			  color: white;
			  background-color: rgba(0, 0, 0, 0.6);
			  font-size: 14px;
			  padding: 1em;
			  display: none;
			}
	</style>
   
    <div class="row">
		<div class="large-9 columns">
        	<div id="d3_map"></div> 	
		</div>
		<div class="large-3 columns">
			<div class="mapText"> NYC 311 Data</div>
			<p class="mapSubtext">Zip codes with the most _____ complaints
		</p>

			<div class="menu">
				<select id="colorSelector" style="" ='right'>
					<option value="" disabled="disabled" selected="selected">Change color</option>
		            <option value="YlGn">YlGn</option>
		            <option value="YlGnBu">YlGnBu</option>
		            <option value="GnBu">GnBu</option>
		            <option value="BuGn">BuGn</option>
		            <option value="PuBuGn">PuBuGn</option>
		            <option value="PuBu">PuBu</option>
		            <option value="BuPu">BuPu</option>
		            <option value="RdPu">RdPu</option>
		            <option value="PuRd">PuRd</option>
		            <option value="OrRd">OrRd</option>
		            <option value="YlOrRd">YlOrRd</option>
		            <option value="YlOrBr">YlOrBr</option>
		            <option value="Purples">Purples</option>
		            <option value="Blues">Blues</option>
		            <option value="Greens">Greens</option>
		            <option value="Oranges">Oranges</option>
		            <option value="Reds">Reds</option>
		            <option value="Greys">Greys</option>
		        </select>
	        </div>


	        <div class="menu">
				<select id="dataSelector" style="" ='right'>
					<option value="" disabled="disabled">Change Data</option>
		            <option value="0" selected="selected">Noise</option>
		            <option value="1">Heat</option>
		        </select>
	        </div>
    		<p class="mapSubtext"><a href="https://github.com/zunayed/noisyNYC">Github</a> 
			<br />
			Big ups to Pierre, Liam, Julia
			<br />
			Moshe, Amy and Kanye West for their help
			</p>
		</div>
    
    <a id="infoBox" style="display: inline;">On Zip: </a>

    </div>   
    <hr />
    <div class="row">
      <div class="large-12 columns Greens">
    
        	<div id="d3_chart"></div>
        	<!-- <div id="d3_map"></div>  -->
 			
      </div>
    </div>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="{{ url_for('static', filename='noiseNYC.js') }}"></script>
<script src="{{ url_for('static', filename='heatNYC.js') }}"></script>
<script src="{{ url_for('static', filename='maps.js') }}"></script>
<script src="{{ url_for('static', filename='charts.js') }}"></script>



{% endblock %}




