<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">

    <!-- javascript -->
    <script src="{{ url_for('static', filename='foundation/modernizr.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">NoisyNYC</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Complaint types</a></li>
        <li class="has-dropdown">
          <a href="#">Pick a borough</a>
          <ul class="dropdown">
            <li><a href="#">Brooklyn</a></li>
            <li><a href="#">Queens</a></li>
            <li><a href="#">Bronx</a></li>
            <li><a href="#">Manhattan</a></li>
          </ul>
        </li>
      </ul>

    </section>
  </nav>

  {% block content %}
  {% endblock %}

  <footer>
    <script src="static/foundation/foundation.min.js"></script>
    <script> $(document).foundation(); </script>
  </footer>
</html>




