<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colorbrewer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

    <!-- javascript -->
    <script src="{{ url_for('static', filename='foundation/modernizr.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>

  <footer>
    <script src="static/foundation/foundation.min.js"></script>
    <script src="static/foundation/foundation/foundation.reveal.js"></script>
    <script src="static/foundation/foundation/foundation.joyride.js"></script>
    <script src="static/js/vendor/jquery.cookie.js"></script> <!-- Optional -->

    <script> 
      $(document).foundation('joyride', 'start'); 
    </script>
  </footer>
</html>




