{% extends "layout.html" %}
{% block content %}

<body>
<div class="row">
    <div class="large-6 columns">
        <h1> NYC 311 Data</h1>

        <div class="menu">
            <select id="dataSelector">
                <option value="" disabled="disabled">Change Data</option>
                <option value="noise" selected="selected">Noise</option>
                <option value="heat">Heating</option>
            </select>
        </div>
    </div>
    <div class"large-6 columns">
        <p class="mapSubtext">
            <br/>
            Noisy complaints throughtout the years
            <br/>
            <a href="http://nbviewer.ipython.org/github/zunayed/noisyNYC/blob/master/data_analysis/311_data.ipynb">Ipython Notebook</a> 
            <br/>
            <a href="https://github.com/zunayed/noisyNYC">Github</a> 
            <br/>
            Zunayed Morsalin
        </p>


    </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div id="charts"></div>
  </div>
</div>
</body>

<div id="tooltip" class="hidden"></div>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='d3.v3.js') }}"></script>
<script src="{{ url_for('static', filename='year_view.js') }}"></script>

{% endblock %}